{% extends 'base.html.twig' %}

{% block title %}Fiche Membre{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Fiche membre</h1>
    <div class="row">
        <div class="card mb-3">
            <h4 class="card-header">{{membre.nom}} {{membre.prenom}}</h4>
            <div class="row">
                <div class="col-2">
                    <img class="avatar mx-auto my-3" style="height: 200px;   display: block;" alt="avatar du membre" src="{{membre.avatar}}">
                </div>
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% if membre.sexe == 0 %}
                                <span class="badge text-bg-info">H</span>
                            {% else %}
                                <span class="badge text-bg-warning">F</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">{{membre.rue}}</li>
                        <li class="list-group-item">{{membre.cp}}</li>
                        <li class="list-group-item">{{membre.ville}}</li>
                        <li class="list-group-item">{{membre.mail}}</li> 
                        <li class="list-group-item">
                            <a href="{{path('app_categorie', {'id':membre.categorie.id})}}">{{membre.categorie.libelle}}</a>
                        </li>

                    </ul>
                </div>
            </div> 
        </div>
        <div>
            <h4>A propos de {{membre.prenom}}</h4>
            {{membre.aproposde}}
        </div>
        <div class="mt-3">
            <a href="{{path('app_membres')}}" class="btn btn-primary" role="button">Retour à la liste</a>
        </div>
    </div>    
{% endblock %}
